h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    letter-spacing: 2px;
}

div {
    margin: auto;
    width: 50%;
}

div p span{
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 10px;
    letter-spacing: 2px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url(https://img2.pngio.com/free-white-paw-print-transparent-background-download-free-clip-paw-print-background-png-1873_1053.png);
    background-size: cover;
}

div form {
    text-align: center;
}